@model IEnumerable<Book>

<h2>Lista książek</h2>
<table class="table">
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>ISBN</th>
        <th>Liczba stron</th>
        <th>Data publikacji</th>
        <th>Autorzy</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.ISBN13</td>
            <td>@book.NumPages</td>
            <td>@book.PublicationDate.ToString("d")</td>
            <td>
                <ul>
                    @foreach (var author in book.BookAuthors.Select(ba => ba.Author))
                    {
                        <li>@author.AuthorName</li>
                    }
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Dodaj książkę</a>
